.sp-style{
  font-family: 'Times New Roman', Times, serif;
}
.serv-head{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.custom-shadow{
  box-shadow: 4px 4px 8px rgb(189,200,213),-4px -4px 8px rgb(255,255,255);
}
.google-sign{
  box-shadow: 
  inset -10px -10px 5px rgba(255, 255, 255, 0.2),
  inset 10px 10px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 100%;

}
.active{
  color:red;
}
.hoverStyle:hover{
     border-bottom: 1px solid red;
}

/* slider */
.slider-body {
  
  height: 50%;
}

.slider-body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  margin-top:8%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.or-style{
  display: flex;
  align-items: center;
  
}
.not{
  margin-top:10%;
  width:100%
}
@media screen and (max-width: 768px) {
  nav li {
    background-color: #C6C6C6;
    
    
    
  }
  
  .sign{
  margin-left: 10%;
    width:80%;
    
  }
  .slider-body{
    margin-top:10%;
  }

}
  
