.sp-style{
  font-family: 'Times New Roman', Times, serif;
}
.serv-head{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.custom-shadow{
  box-shadow: 4px 4px 8px rgb(189,200,213),-4px -4px 8px rgb(255,255,255);
}
.google-sign{
  box-shadow: 
  inset -10px -10px 5px rgba(255, 255, 255, 0.2),
  inset 10px 10px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 100%;

}
.see-more{
  margin-left:45%;
}

/* navbar-button-edit */
.nav-btn:hover::before {
  height: 100%;
  width: 100%;
  border: 2px solid #0846f3;
  border-right: none;
  border-bottom: none;
}

.nav-btn::after {
  content: '';
  height: 0;
  width: 0;
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  transition: height .2s linear, width .3s linear .2s;
}
.nav-btn {
text-decoration: none;
padding: .4rem 1rem;
position: relative;
transition: .3s ease-in .4s;
color: var(--secondery);
}
.nav-btn:hover::after {
  height: 100%;
  width: 100%;
  border: 2px solid #0846f3;
  border-left: none;
  border-top: none;
}

.nav-btn::before {
  content: '';
  height: 0;
  width: 0;
  border: 2px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  transition: height .2s linear, width .3s linear .2s;
}
/* navbar-button-edit */


.active{
  color:red;
}
.hoverStyle:hover{
     border-bottom: 1px solid red;
}
.about-image{
  margin-left:45%;
}
/* slider */
.slider-body {
  
  height: 50%;
}

.slider-body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.or-style{
  display: flex;
  align-items: center;
  
}
.not{
  margin-top:10%;
  width:100%
}
@media screen and (max-width: 768px) {
  nav li {
    background-color: #C6C6C6;
    
    
    
  }
  
  .sign{
  margin-left: 10%;
    width:80%;
    
  }
  
  .about-image{
    margin-left:35%;
  }

}
  
